# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plataformas generadas por `flutter create .`
# (se regeneran en cada equipo; no las versionamos)
/android/
/ios/
/web/
/macos/
/linux/
/windows/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
